.nav-title {
    height: 50px;
    width: 50px;
    display: inline-block;
    color: #f2f2f2;
}

.dashboardNavLink {
    color: #f2f2f2;
    background-color:#1d2c69;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    outline:0;
    max-height: 20px;
    text-align: inherit;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    border-right: solid 0.5px white;

  }

  .dashboardNavLink:hover {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    outline:0;
    max-height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    border-right: solid 0.5px white;

  }

  .highlightProfile {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    max-height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    border-right: solid 0.5px white;

  }

  .highlightTeam {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    max-height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
  }

  .highlightPrivate {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    max-height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
  }

  .highlightAbout {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    max-height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
  }

.dashboardNav { 
  background-color: #1d2c69;
  height: 1000px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display:inline-block;
  border: solid white 3px;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color:#1d2c69;
  text-align: center;
  /* padding: 24px 75px 24px 10px; */
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
  max-height: 20px;
}

.nav-link:hover {
  background-color: #1d2c69;
}

.nav-right {
  float: right;
}

.teamInfo {
  text-align: center;
}