.nav-title {
    height: 50px;
    width: 50px;
    display: inline-block;
    color: #f2f2f2;
    padding: 10px;
}

.dashboardNavLink {
    float: left;
    color: #f2f2f2;
    background-color:#1d2c69;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-align: initial;
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    border:none;
    cursor: pointer;
    outline:0;
  }

.dashboardNav { 
  background-color: #1d2c69;
  width: 100px;
  height: 1000px;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display:inline-block;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color:#1d2c69;
  text-align: center;
  padding: 24px 75px 24px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #1d2c69;
}

.nav-right {
  float: right;
}

.teamInfo {
  text-align: center;
}