.nav-title {
    height: 50px;
    width: 50px;
    display: inline-block;
    color: #f2f2f2;
}

.dashboardNavLink {
    color: #f2f2f2;
    background-color:#1d2c69;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    outline:0;
    height: 20px;
    text-align: inherit;
    width: 100%;
    padding: 5% 0%;
    text-align: center;
  }

  .dashboardNavLink:hover {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    outline:0;
    height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 5% 0%;
    
  }

  .highlightProfile {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 5% 0%;
    
  }

  .highlightTeam {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 5% 0%;
    
  }

  .highlightPrivate {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 5% 0%;
    
  }

  .highlightAbout {
    color: black;
    background-color:#ffffff;
    /* text-align: center; */
    text-decoration: none;
    /* text-align: initial; */
    font-size: 15px;
    /* these last two make the logout button in
    the nav bar look like another link */
    cursor: pointer;
    height: 20px;
    text-align: inherit;
    width: 100%;
    text-align: center;
    padding: 5% 0%;
    
  }

.dashboardNav { 
  background-color: #1d2c69;
  height: 1000px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display:inline-block;
  border-right: solid white 3px;
  border-left: solid white 3px;
  border-bottom: solid white 3px;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color:#1d2c69;
  text-align: center;
  /* padding: 24px 75px 24px 10px; */
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline: 0;
  width: 30px;
  word-wrap: initial;
}

.nav-link:hover {
  background-color: #1d2c69;
}

.nav-right {
  float: right;
}

.teamInfo {
  text-align: center;
}