body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://static.wixstatic.com/media/b0b871_e5982e04f97f4e628d917f4e2070e1c6~mv2.png/v1/fill/w_1680,h_1050/Copy%20of%20Copy%20of%20CONNECT%20(4).png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.alert {
    background-color: #ff4545;
    margin: 50px; 
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}



/* .playersDiv:hover {
    background-color: red;
    border: 50px;
} */

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.teamLogo {
margin: 3%;
padding: 20px;
width: 20%;
min-width: 200px;
max-width: 200px;
min-height: 200px;
max-height: 200px;
border: none;
display: inline-block;  
}

.teamInfo {

    display: inline-block;
    text-align: center;
    margin: 1% 35%;
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.countryFlag {
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
    margin: 1% 38%;
}

.profilePicture {
border: solid  #222 5px;
margin: 10% 15%;
min-height: 300px;
max-height: 350px;
display: inline-block;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.profileLayout {
    display: inline;
}

.privatePosts {
    text-align: center;
    background-color: black;
    color: white;
    width: 306px;
    height: 200px;
    margin: 0% 32%;

}

.playersDiv {
    margin: 2% 4%;
    min-width: 160px;
    max-width: 160px;
    min-height: 213px;
    max-height: 213px;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    align-content: center;  
}

.playerImages {
    min-width: 160px;
    max-width: 160px;
    min-height: 213px;
    max-height: 213px;
    border: solid  #222 5px;
}

.playerImages:hover {
    border: solid white 5px;
    background-color: red;
}

.playerCloseUp {
    min-width: 200px;
    max-width: 200px;
    min-height: 300px;
    max-height: 300px;
}

.dialogContent { 
    text-align: center;
}
.editButton {
    float: right;
}

.messageButton {
    text-align: center;
    float: center;
    align-items: center;
}

.privatePostsCards {
    max-width: 30%;
}

.privateMessageInput {
    margin: 5% 0% 0% 0%;
    padding: 0px;
}

.privatePostsMessages {
    margin: 0% 0% 5% 0%;
}

.privatePostsTitles {
    font-size: 100px;
}

.horizontalRows {
    border: 1px solid #1d2c69;
    border-radius: 0px;
}

.privatePostsTextField {
    width: 100%;
}

.messageBoardTitle {
    color: white;
}

.teamName {
    color: white;
    fontSize: 300px;
    width: 100px;
}

.submitButton {
    border: solid 1px #1d2c69;
    margin: 1%
}

.submitButton:hover {
    box-shadow: 2px 2px #1d2c69;
    border: solid 1.5px #1d2c69;
    margin: 1%
}

.submitButton:active {
    box-shadow: 0px 0px #1d2c69; 
    border: solid 1px #1d2c69;
    transform: translateY(4px);
    margin: 1%;
}