.nav-title {
    min-height: 70px;
    min-width: 70px;
    max-height: 70px;
    max-width: 70px;
    display: inline-block;
    color: #f2f2f2;
    padding: 10px;
    margin-left: 1.5%;
    float: left;
}

.nav {
  overflow: hidden;
  background-color: #1d2c69;
}

.nav-link { 
  color: #f2f2f2;
  background-color:#1d2c69;
  text-align: center;
  padding: 24px 75px 24px 10px;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {

  background-color:white;
  color: black;
}

.nav-right {
  float: right;
}

